@page "/settings"
@using VxFormGenerator.Core
@using System.Dynamic
@using Radzen
@using Radzen.Blazor
@using KMF.WrkFlows.Domain

<h1>Einstellungen</h1>

    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Benutzer">
                <EditForm Model="_UserSettings" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInValidSubmit">
                    <DataAnnotationsValidator />
                    <RenderFormElements />
                    <RadzenButton class="btn btn-primary" type="submit">Speichern</RadzenButton>
                </EditForm>
            </RadzenTabsItem>

            <RadzenTabsItem Text="Anwendung">
                <EditForm Model="_ClientApplicationSettings" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInValidSubmit">
                    <DataAnnotationsValidator />
                    <RenderFormElements />
                    <RadzenButton class="btn btn-primary" type="submit">Speichern</RadzenButton>
                </EditForm>
            </RadzenTabsItem>

            <RadzenTabsItem Text="Server">
                <EditForm Model="_ServerSettings" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInValidSubmit">
                    <DataAnnotationsValidator />
                    <RenderFormElements />
                    <RadzenButton class="btn btn-primary" type="submit">Speichern</RadzenButton>
                </EditForm>
            </RadzenTabsItem>

        </Tabs>
    </RadzenTabs>



