@page "/"
@namespace KMF.WrkFlows.Razor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using KMF.WrkFlows.Application
@using Radzen

@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ApplicationSettings.PUBLICPRODUCTNAME</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
    <link href="css/site.css" rel="stylesheet" />
    <link href="KMF.WrkFlows.Razor.styles.css" rel="stylesheet" />

</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<StartupUI>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

</body>
</html>
